<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/_head %>
  <title>Snippy Url Shortener | Urls list</title>
</head>
<body class>
  <% include partials/_header %>
  <div class="container">
    <% if (user) { %>
      <h2> Your Snippy Links </h2>
      <ul class="list-group">
      <% for (url in urls) { %>
        <li class="list-group-item clearfix">
        <h4><a href="<%= urls[url].long %>"><%= urls[url].long %></a>  ⟶  <%= url %></h4>
          <% if (user.id === urls[url].userID) { %>
            <div class="btn-group pull-right">
              <form class="form-inline" method="POST" action="/urls/<%= url %>/delete?_method=DELETE"> 
                <a class="btn btn-default" href="/urls/<%= url %>">Details</a>
                <button onclick="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          <% } %>
        </li>
      <% } %>
      </ul>
      <div class="container">
        <a class="btn btn-success" href="/urls/new">New</a>
      </div>
      <% } else { %>
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          You need to login first!
        </div>
      <% } %>
  </div>
</body>
</html>